/*navbar strating*/
.header
{
  width: 100%;
  position: fixed;
  background-color: rgb(10, 11, 12);
  z-index: 1;
}
.h2name
{
    color: rgb(223, 223, 223);
    font-size: 1.4rem;
}
.nav-link
{
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
li:hover a 
{
    transition: 0.4s;
    box-sizing: border-box;
    width: 100%;
    padding: 0.4rem;
    border-top: 0rem;
    border-left: 0rem;
    border-right: 0rem;
}
.navbar-toggler
{
    background: #eee;
}
/*navbar end*/

/*section one Home start*/
.s1
{
    background: #969696;
}
.img-fluid
{
    width: 100%;
    box-shadow: rgba(111, 111, 111,111) 0px 7px 29px 0px;
}
.s1name
{
    font-size: 25px;
    width: 0ch;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    animation: text 5s steps(16) infinite;
    border-right: 3px solid black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
@keyframes text
{
    0%
    {
        width: 0ch;
    }
    50%
    {
        width: 17ch;
    }
}
.s1st
{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/*section one Home end*/